body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.author {
  text-align: right;
}

.post-image {
  width: 250px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.commentForm {
  display: inline-block;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.post.ng-enter {
  animation: fadeIn 0.5s;
}

.post.ng-leave {
  animation: fadeOut 0.5s;
}

.submit-form.ng-hide-remove {
  animation: zoomIn 0.5s;
}

.submit-form.ng-hide-add {
  animation: zoomOut 0.5s;
}

.comments.ng-hide-remove {
  animation: fadeInDown 0.5s;
}

.comments.ng-hide-add {
  animation: fadeOutUp 0.5s;
}

.addComment.ng-hide-remove {
  animation: fadeInDown 0.5s;
}

.addComment.ng-hide-add {
  animation: fadeOutUp 0.5s;
}
